.report{
    padding:40px;
    .filters{
        width:55%;
        display: inline-block;
        @media screen and (max-width:760px){
            width:100%;
        }
        .flex-wrap{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width:760px){
                flex-wrap:wrap;
                div{
                    width:100%;
                }
               
            }
        }
        
        
        div{
            margin-bottom: 5px;
            label{
                font-weight:normal;
                font-size:14px;
                color:#707070;
                margin-right:10px;
                width: 100px;
            }
          
        }
        .clinics, .initial-date, .final-date{
            display: flex;            
            justify-content: space-between;

        }
        
    }
    .selected-filters{
        padding-bottom:22px;
    }
    .total{
        margin-top:24px;
        width:100%;
        display: flex;
        justify-content: space-between;
        span{
            color:#025A7F;
            font-weight: 600;
        }
    }
}