<div class="login">
  <div class="logo">
    <img src="../../assets/img/logo.png" alt="">
  </div>
  <form class="example-form">
    <mat-form-field>
      <input matInput placeholder="Usuário">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Senha">
    </mat-form-field>
    <div class="form-section">
      <mat-checkbox>Lembrar-me</mat-checkbox>
      <a href="">Esqueci minha senha</a>
    </div>   
  </form>
  <button mat-raised-button color="primary" routerLink="/home">Login</button>
</div>