.login{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url("../../assets/img/main-bg.jpg");
    background-size:cover;
    .logo{
        img{
            height:276px;
            @media screen and (max-width:600px) {
                height:auto;
                max-width: 100%;
            }
        }
    }
    .example-form > * {
        width: 100%;

        
      }

      .form-section{
        display: flex;
        justify-content: space-between;
        padding:24px 0;
    }
    .buttons{
        width:360px;
        display: flex;
        justify-content: space-between;
    }
}