<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <div class="nav-header">       
          <div class="icon">
            <mat-icon aria-label="Side nav toggle icon">store</mat-icon>
          </div>
          <span class="name">Atual Médica</span>        
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="monitoramento" routerLink="/home/monitoramento">
        <mat-icon aria-label="Side nav toggle icon">location_on</mat-icon> 
        Monitoramento</a>
        <a mat-list-item routerLink="/home/relatorio-unidades">
          <mat-icon aria-label="Side nav toggle icon">assessment</mat-icon>
          Relatório Unidades
        </a>
      <a mat-list-item routerLink="/home/relatorio-horas">
        <mat-icon aria-label="Side nav toggle icon">assessment</mat-icon>
        Relatório Horas</a>
    </mat-nav-list>
    <ul class="submenu">
      <li><a href="#">Sobre Nós</a></li>
      <li><a href="#">Política de Privacidade</a></li>
      <li><a href="#">Nossos Parceiros</a></li>
      <li><a routerLink="/login">Sair</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"        
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title | uppercase}}</span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
